# Flutter/Dart
.dart_tool/
.buildlog/
.packages
.pub/
.pub-cache/
.pubspec.lock
**/build/
**/android/**/build/
**/ios/Flutter/Flutter.framework
**.symlinks/
**.flutter-plugins
**.flutter-plugins-dependencies
**.metadata
**/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
.idea/
*.iml
*.hprof
*.log
.google-services.json
**/android/local.properties
firebase.json

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# IntelliJ
out/
